* {
  box-sizing: border-box;
  font-family: Ubuntu, "Lucida Console";
}

body {
  max-width: 960px;
  height: 500px;
  margin: auto;
  align-items: center;
}

.start-screen {
  width: 950px;
  height: 590px;
  border: 5px solid rgb(25, 86, 166);
  border-radius: 25px;
}

.start-background {
  position: relative;
  top: 10px;
  left: 280px;
  background-image: url(/images/start_menu_globe.jpg);
  background-size: 50em;
  background-repeat: no-repeat;
  width: 660px;
  height: 670px;
  border-radius: 20px;
  margin-top: -100px;
  z-index: -1;
}

h1 {
  font-size: 1.7em;
  position: relative;
  top: -515px;
  left: -305px;
  text-align: center;
  color: rgb(25, 86, 166);
}

.start-menu-button {
  position: relative;
  top: -460px;
  left: 40px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  color: rgb(25, 86, 166);
  border: 2px solid rgb(25, 86, 166);
}

.start-button-europe {
  position: relative;
  top: -390px;
  left: -163px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  color: rgb(25, 86, 166);
  border: 2px solid rgb(25, 86, 166);
}

.instructions {
  position: relative;
  top: -320px;
  left: -366px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  color: rgb(25, 86, 166);
  border: 2px solid rgb(25, 86, 166);
}

.blue {
  color: rgb(25, 86, 166);
  font-weight: bold;
  text-decoration-line: underline;
}

.red {
  color: red;
  font-weight: bold;
  text-decoration-line: underline;
}

.instructions-box {
  position: relative;
  top: -321.5px;
  left: 41.5px;
  background-color: rgb(230, 230, 230);
  width: 200px;
  height: 145px;
  border-radius: 0px 0px 10px 10px;
  border-left: 2px solid rgb(25, 86, 166);
  border-bottom: 2px solid rgb(25, 86, 166);
  border-right: 2px solid rgb(25, 86, 166);
  font-size: 0.68em;
  padding: 0px 20px 20px 20px;
  color: rgb(25, 86, 166);
}

.nav-bar-top {
  position: fixed;
  top: 0px;
  width: 950px;
  height: 50px;
  background-image: url(/images/start_menu_globe.jpg);
  background-size: 80em;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: auto;
  z-index: 1;
  border-radius: 25px 25px 0 0;
  background-position: -190px 960px;
}

.nav-bar-bottom {
  position: fixed;
  top: 530px;
  width: 950px;
  height: 50px;
  background-image: url(/images/start_menu_globe.jpg);
  background-size: 80em;
  background-position: -80px 490px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: auto;
  z-index: 1;
  border-radius: 0 0 25px 25px;
}

.game-grid {
  position: fixed;
  top: 50px;
  height: 490px;
  width: 950px;
  background-image: url(/images/world_map.jpg);
  background-size: 60em;
  background-repeat: no-repeat;
  padding: 20px;
  border-left: 5px solid rgb(20, 110, 180);
  border-right: 5px solid rgb(132, 186, 124);
  margin-left: auto;
  margin-right: auto;
}

.game-square {
  position: relative;
  left: 5px;
  display: inline-block;
  height: 20px;
  width: 20px;
  justify-content: center;
  border: 1px dotted transparent;
  align-items: center;
  text-align: center;
  margin: -2px 0px -2px 0px;
}

.map-button {
  position: relative;
  top: -5px;
  background: transparent;
  border: none;
  width: 20px;
  height: 20px;
  font-size: 3px;
  color: black;
  border: 1px dotted transparent;
  text-align: center;
  margin-top: -2.1px;
}

.game-title {
  position: absolute;
  font-size: 1.5em;
  top: -14px;
  left: 38%;
  font-weight: bold;
  color: rgb(20, 110, 180);
}

.question-title {
  position: absolute;
  left: 20px;
  color: rgb(20, 110, 180);
  font-weight: bold;
}

.question-number {
  position: absolute;
  left: 20px;
  color: rgb(230, 230, 230);
}

.game-score {
  position: absolute;
  left: 140px;
  color: rgb(230, 230, 230);
}

.answer-log {
  position: relative;
  width: 140px;
  top: 475px;
  left: -41%;
  color: rgb(20, 110, 180);
  background-color: rgb(132, 186, 124);
  border-radius: 10px;
  z-index: 1;
  margin: 5px auto;
  text-align: center;
}

.return-menu-button {
  position: absolute;
  top: 10px;
  left: 88%;
  margin: auto;
  background: rgb(230, 230, 230);
  width: 100px;
  height: 30px;
  border-radius: 10px;
  z-index: 1;
  color: rgb(25, 86, 166);
  border: 2px solid rgb(132, 186, 124);
}

.end-screen {
  width: 950px;
  height: 590px;
  border: 5px solid rgb(25, 86, 166);
  border-radius: 25px;
}

.game-score-button {
  position: relative;
  top: -65%;
  left: 10%;
  margin: auto;
  background: rgb(230, 230, 230);
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  z-index: 1;
  color: rgb(25, 86, 166);
  border: 2px solid rgb(25, 86, 166);
}

.score-log {
  position: relative;
  top: -73%;
  left: 5.5%;
  font-size: 1.5em;
  color: rgb(25, 86, 166);
}

.result {
  position: relative;
  top: -70%;
  left: 4%;
  color: rgb(132, 186, 124);
  width: 220px;
  text-align: center;
}

.confirm-box {
  position: absolute;
  top: -290px;
  left: 355px;
  background-color: rgb(230, 230, 230);
  width: 250px;
  height: 100px;
  border-radius: 25px;
  border: 3px solid rgb(25, 86, 166);
  z-index: 2;
}

.confirm-text {
  position: absolute;
  left: 46px;
  text-align: center;
  width: 150px;
  font-size: 0.8em;
  color: rgb(25, 86, 166);
}

.yes-button {
  background-color: rgb(25, 86, 166);
  position: absolute;
  left: 80px;
  top: 55px;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: rgb(230, 230, 230);
}

.no-button {
  background-color: rgb(25, 86, 166);
  position: absolute;
  left: 125px;
  top: 55px;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: rgb(230, 230, 230);
}

.game-grid :hover {
  background-color: grey;
  opacity: 0.5;
  border-radius: 5px;
}

/* European Cities version */
.game-grid-europe {
  position: fixed;
  top: 50px;
  height: 490px;
  width: 950px;
  background-color: rgb(249, 251, 246);
  background-image: url(/images/europe_map.jpg);
  background-size: 39em;
  background-repeat: no-repeat;
  background-position: 140px 0px;
  padding: 20px;
  border-left: 5px solid rgb(20, 110, 180);
  border-right: 5px solid rgb(132, 186, 124);
  margin-left: auto;
  margin-right: auto;
}

.game-title-europe {
  position: absolute;
  font-size: 1.5em;
  top: -14px;
  left: 40%;
  font-weight: bold;
  color: rgb(20, 110, 180);
}

.map-button-europe {
  position: relative;
  top: -5px;
  background: transparent;
  border: none;
  width: 20px;
  height: 20px;
  font-size: 3px;
  color: black;
  border: 1px dotted transparent;
  text-align: center;
  margin-top: -2.1px;
}

.question-title-europe {
  position: absolute;
  left: 20px;
  color: rgb(20, 110, 180);
  font-weight: bold;
}

.question-number-europe {
  position: absolute;
  left: 20px;
  color: rgb(200, 200, 200);
}

.game-score-europe {
  position: absolute;
  left: 140px;
  color: rgb(200, 200, 200);
}

.answer-log-europe {
  position: relative;
  width: 140px;
  top: 475px;
  left: -41%;
  color: rgb(20, 110, 180);
  background-color: rgb(132, 186, 124);
  border-radius: 10px;
  z-index: 1;
  margin: 5px auto;
  text-align: center;
}

.game-grid-europe :hover {
  background-color: grey;
  opacity: 0.5;
  border-radius: 5px;
}
